<nav class="top-nav pink darken-1 mainContent">
	<a href="#" class="button-collapse top-nav full hide-on-large-only" data-activates="sideMenu">
		<i class="material-icons">menu</i>
	</a>
	<div class="page-title">
		{{title}}
	</div>
</nav>
<div class="row mainContent">
	<div class="col s12">
		<div id="{{state}}"></div>
		
	</div>
</div> 