<div class="page-footer row pink darken-1 white-text">
	<div class="col s12 m5">
		©2018 Sa.Ortega19
		<br/>
		Todos los derechos reservados
	</div>
	<div class="col s12 m5">
		<br/>
		Terminos y condiciones
	</div>
	<div class="col s12 m2">
		313 265 6396
		<br/>
		Sincelejo, Sucre<br/>
		Colombia
	</div>
</div>